<a href="https://colab.research.google.com/github/Azimoj/Home-Credit-Default-Risk/blob/main/Credit__scoring_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The data contains several number of relational tables. We'll process each one of them separately, and then finally in the end, merge all of them together.

## **Preprocessing Tables**

In [7]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [8]:
# Data Structures
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

import warnings
warnings.filterwarnings('ignore')
from datetime import datetime

import time
import gc

from sklearn.preprocessing import LabelEncoder
from contextlib import contextmanager
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import re
import xgboost as xgb
import lightgbm as lgb

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
warnings.simplefilter(action='ignore', category=FutureWarning)

In [38]:
#### Functions of the project.
def grab_col_names(dataframe, cat_th=10, car_th=20):
    """
        It gives the names of categorical, numerical and categorical but cardinal variables in the data set.
        Note: Categorical variables with numerical appearance are also included in categorical variables.
    Parameters
    ------
        dataframe: dataframe
               The dataframe from which variable names are to be retrieved
         cat_th: int, optional
                 class threshold value for numeric but categorical variables
         car_th: int, optinal
                 class threshold for categorical but cardinal variables
    Returns
    ------
          The dataframe from which variable names are to be retrieved
          cat_th: int, optional
                  class threshold value for numeric but categorical variables
          car_th: int, optinal
                  class threshold for categorical but cardinal variables
    Examples
    ------
     import seaborn as sns
         df = sns.load_dataset("iris")
         print(grab_col_names(df))
     notes
     ------
         cat_cols + num_cols + cat_but_car = total number of variables
         num_but_cat is inside cat_cols.
         The sum of the 3 returned lists equals the total number of variables: cat_cols + num_cols + cat_but_car = number of variables
    """

    # cat_cols, cat_but_car
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]

    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]     

    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f'cat_cols: {len(cat_cols)}')
    print(f'num_cols: {len(num_cols)}')

    return cat_cols, num_cols

In [39]:
def high_correlated_cols(dataframe, plot=False, corr_th=0.90):
    corr = dataframe.corr()
    cor_matrix = corr.abs()
    upper_triangle_matrix = cor_matrix.where(np.triu(np.ones(cor_matrix.shape), k=1).astype(np.bool))
    drop_list = [col for col in upper_triangle_matrix.columns if any(upper_triangle_matrix[col] > corr_th)]
    if plot:
        import seaborn as sns
        import matplotlib.pyplot as plt
        sns.set(rc={'figure.figsize': (15, 15)})
        sns.heatmap(corr, cmap="RdBu")
        plt.show()
    return drop_list

In [40]:
# Defining Sin-cos transformation for cyclic features
def encode(df, col, max_val):
    df[col + '_SIN'] = np.sin(2 * np.pi * df[col] / max_val)
    df[col + '_COS'] = np.cos(2 * np.pi * df[col] / max_val)
    return df

In [41]:
# Defining one-hot encoding for categorical columns with get_dummies
def one_hot_encoder(df, nan_as_category=True):
    original_columns = list(df.columns)
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns=categorical_columns, dummy_na = nan_as_category)
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns

## **application_train and application_test**

In [31]:
#Download databases
app_test= pd.read_csv('/content/drive/MyDrive/p7/data/application_test.csv', encoding='utf-8', low_memory=False)
app_train= pd.read_csv('/content/drive/MyDrive/p7/data/application_train.csv',low_memory=False)

In [ ]:
app_train.shape

(307511, 122)

In [ ]:
app_test.shape

(48744, 121)

In [32]:
df = app_train.append(app_test).reset_index()

### **Data cleaning**

In [ ]:
df.head()

   index  SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      0      100002  ...                        0.0                        1.0
1      1      100003  ...                        0.0                        0.0
2      2      100004  ...                        0.0                        0.0
3      3      100006  ...                        NaN                        NaN
4      4      100007  ...                        0.0                        0.0

[5 rows x 123 columns]

In [33]:
# Removing 4 applications with XNA CODE_GENDER (train set)
df = df[df['CODE_GENDER'] != 'XNA']

In [34]:
cat_cols, num_cols = grab_col_names(df, cat_th=10, car_th=20)

Observations: 356251
Variables: 123
cat_cols: 16
num_cols: 107

In [35]:
df.duplicated('SK_ID_CURR').sum()

0

In [40]:
high_list = high_correlated_cols(df[num_cols], plot=False, corr_th=0.98)

In [ ]:
high_list

['AMT_GOODS_PRICE',
 'FLAG_EMP_PHONE',
 'YEARS_BUILD_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'OBS_60_CNT_SOCIAL_CIRCLE']

In [41]:
df.drop(high_list, inplace= True, axis=1)

In [42]:
#I excract the high corelated columns from the numerical columns. 
num_cols = [col for col in num_cols if col not in high_list]

In [43]:
df["NAME_FAMILY_STATUS"].unique()

array(['Single / not married', 'Married', 'Civil marriage', 'Widow',
       'Separated', 'Unknown'], dtype=object)

In [44]:
# this unit has no information so I have deleted
df = df.loc[df["NAME_FAMILY_STATUS"] != "Unknown"]

In [ ]:
"""# this units have no information so I have deleted them.
drop_list = ["FLAG_MOBIL", "FLAG_DOCUMENT_4", "FLAG_DOCUMENT_5", "FLAG_DOCUMENT_7", "FLAG_DOCUMENT_10", "FLAG_DOCUMENT_12",
              "FLAG_DOCUMENT_16", "FLAG_DOCUMENT_17", "FLAG_DOCUMENT_19", "FLAG_DOCUMENT_20", "FLAG_DOCUMENT_21" ]
for col in drop_list:
    cat_cols.pop(drop_list.index(col))
    df.drop(col, inplace= True, axis=1)"""

In [45]:
# NaN values for DAYS_EMPLOYED: 365243 -> nan
df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)

# Changing rare categories of NAME_INCOME_TYPE with the similar categories
df.loc[df['NAME_INCOME_TYPE'] == 'Student', 'NAME_INCOME_TYPE'] = 'State servant'
df.loc[df['NAME_INCOME_TYPE'] == 'Maternity leave', 'NAME_INCOME_TYPE'] = 'Pensioner'
df.loc[df['NAME_INCOME_TYPE'] == 'Unemployed', 'NAME_INCOME_TYPE'] = 'Pensioner'
df.loc[df['NAME_INCOME_TYPE'] == 'Businessman', 'NAME_INCOME_TYPE'] = 'Commercial associate'

In [46]:
# Rare Encoding NAME_HOUSING_TYPE with 'Other'
df.loc[(df['NAME_HOUSING_TYPE'] == 'Office apartment') &
        (df['NAME_HOUSING_TYPE'] == 'Co-op apartment'), 'NAME_HOUSING_TYPE'] = 'Other'

#  Changing unknown family status with the most observed category
df['NAME_FAMILY_STATUS'].replace('Unknown', 'Married', inplace=True)

#  Changing HOUSETYPE_MODE not null values with
df.loc[df['HOUSETYPE_MODE'].notnull(), 'HOUSETYPE_MODE'] = 'house_type_reported'

# Changing weekdays with integer values
weekday_dict = {'MONDAY': 1, 'TUESDAY': 2, 'WEDNESDAY': 3, 'THURSDAY': 4, 'FRIDAY': 5, 'SATURDAY': 6, 'SUNDAY': 7}
df.replace({'WEEKDAY_APPR_PROCESS_START': weekday_dict}, inplace=True)

In [47]:

# Creating sin-cos transformed features
df = encode(df, 'WEEKDAY_APPR_PROCESS_START', 7)
df = encode(df, 'HOUR_APPR_PROCESS_START', 23)
# Deleting initial WEEKDAY_APPR_PROCESS_START and HOUR_APPR_PROCESS_START features
df.drop(['WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START'], axis=1, inplace=True)

# new feature revolving loans
df['NEW_REVOLVING_LOANS']=1 
df.loc[(df['NAME_CONTRACT_TYPE']!='Revolving loans'),'NEW_REVOLVING_LOANS']=0
df['NEW_REVOLVING_LOANS'] = df['NEW_REVOLVING_LOANS'].astype(object)

# new feature has car
df['NEW_HAS_CAR']=1 
df.loc[(df['FLAG_OWN_CAR']!='Y'),'NEW_HAS_CAR']=0
df['NEW_HAS_CAR'] = df['NEW_HAS_CAR'].astype(object)

# new feature has rent
df['NEW_RENT_EXPENSE']=1 
df.loc[(df['FLAG_OWN_REALTY']!='Y'),'NEW_RENT_EXPENSE']=0
df['NEW_RENT_EXPENSE'] = df['NEW_RENT_EXPENSE'].astype(object)

# new feature has rent
df['NEW_HAS_COMPANY']=1 
df.loc[(df['NAME_INCOME_TYPE']!='Commercial associate'),'NEW_HAS_COMPANY']=0
df['NEW_HAS_COMPANY'] = df['NEW_HAS_COMPANY'].astype(object)

df['NEW_LABORERS']=0 
df.loc[(df["OCCUPATION_TYPE"] == "Cleaning staff") | (df["OCCUPATION_TYPE"] == "Cooking staff") | 
        (df["OCCUPATION_TYPE"] == "Drivers") | (df["OCCUPATION_TYPE"] == "Laborers")
      | (df["OCCUPATION_TYPE"] == "Low-skill Laborers") | (df["OCCUPATION_TYPE"] == "Sales staff")
      | (df["OCCUPATION_TYPE"] == "Security staff") | (df["OCCUPATION_TYPE"] == "Waiters/barmen staff"), 'NEW_LABORERS' ] = 1
df['NEW_LABORERS'] = df['NEW_LABORERS'].astype(object)

# New features (percentages)
df['NEW_DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
df['NEW_INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']
df['NEW_INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']
df['NEW_ANNUITY_INCOME_PERC'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
df['NEW_ANNUITY_CREDIT_RATIO'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']

# Mean of External Sources
df["NEW_EXT_MEAN"] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)

# Product of External Sources
df['NEW_EXT_PROD'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2'] * df['EXT_SOURCE_3']

# Ages of customers
df['NEW_AGE'] = df['DAYS_BIRTH'] / -365

# NEW_AGE_SEGMENT segments
df.loc[df['NEW_AGE'] <= 34, 'NEW_AGE_SEGMENT'] = 'YOUNG'
df.loc[(df['NEW_AGE'] > 34) & (df['NEW_AGE'] <= 54), 'NEW_AGE_SEGMENT'] = 'MİDDLE'
df.loc[df['NEW_AGE'] > 54, 'NEW_AGE_SEGMENT'] = 'OLD'

# NEW_ACCOMPANIED feature
df.loc[df['NAME_TYPE_SUITE'] == 'Unaccompanied', 'NEW_ACCOMPANIED'] = 0
df.loc[df['NAME_TYPE_SUITE'] != 'Unaccompanied', 'NEW_ACCOMPANIED'] = 1
df.loc[df['NAME_TYPE_SUITE'].isnull(), 'NEW_ACCOMPANIED'] = np.nan

# Social circle with both 30 and 60 days default (binary)
df.loc[(df['DEF_30_CNT_SOCIAL_CIRCLE'] > 0) & (df['DEF_60_CNT_SOCIAL_CIRCLE'] > 0),
        'NEW_DEF_30&60_SOCIAL_CIRCLE'] = 1
df.loc[(df['DEF_30_CNT_SOCIAL_CIRCLE'] == 0) & (df['DEF_60_CNT_SOCIAL_CIRCLE'] == 0),
        'NEW_DEF_30&60_SOCIAL_CIRCLE'] = 0

In [48]:
 # Label encoding
for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
    df[bin_feature], uniques = pd.factorize(df[bin_feature])

In [49]:
# Categorical features with One-Hot encode
df, cat_cols = one_hot_encoder(df, nan_as_category=True)

In [50]:
# Dropping feature named index
df.drop('index', axis=1, inplace=True)

In [ ]:
del app_train,app_test

In [51]:
# blocking garbage collection of all generations (garbage cycle)
# Running a garbage collection process cleans up a huge amount of objects—there are 577 objects in the first generation and three more in the older generations.
# https://stackify.com/python-garbage-collection/

gc.collect()

521

**Backup CSVs**

In [52]:
df.to_csv("/content/drive/MyDrive/p7/data/df_train_final.csv", index=False)

## **bureau_balance.csv and bureau.csv**

**bureau_balance Preprocessing**

This table consists of Monthly balance of each credit for each of the previous credit that the client had with financial institutions other than Home Credit

In [53]:
bb= pd.read_csv('/content/drive/MyDrive/p7/data/bureau_balance.csv',sep=',' , encoding='utf-8', low_memory=False)

In [54]:
# did it due to day or not?'
liste = ['1', '2', '3', '4', '5']
bb['NEW_FLAG'] = bb['STATUS'].apply(lambda x: 1 if (x in liste) else ("X" if x == "X" else 0))

bb, bb_cat = one_hot_encoder(bb)
bb.drop("NEW_FLAG_X", inplace=True, axis=1)
bb_cat.remove('NEW_FLAG_X')

bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}
for col in bb_cat:
    bb_aggregations[col] = ['mean']

bb_agg = bb.groupby('SK_ID_BUREAU').agg(bb_aggregations).reset_index()
bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()])

In [55]:
del bb

In [56]:
gc.collect()

204

In [57]:
bb_agg.shape

(817395, 16)

In [58]:
bb_cat

['STATUS_0',
 'STATUS_1',
 'STATUS_2',
 'STATUS_3',
 'STATUS_4',
 'STATUS_5',
 'STATUS_C',
 'STATUS_X',
 'STATUS_nan',
 'NEW_FLAG_0',
 'NEW_FLAG_1',
 'NEW_FLAG_nan']

In [59]:
bb_agg.isnull().sum().sort_values(ascending=False)

SK_ID_BUREAU_          0
MONTHS_BALANCE_MIN     0
MONTHS_BALANCE_MAX     0
MONTHS_BALANCE_SIZE    0
STATUS_0_MEAN          0
STATUS_1_MEAN          0
STATUS_2_MEAN          0
STATUS_3_MEAN          0
STATUS_4_MEAN          0
STATUS_5_MEAN          0
STATUS_C_MEAN          0
STATUS_X_MEAN          0
STATUS_nan_MEAN        0
NEW_FLAG_0_MEAN        0
NEW_FLAG_1_MEAN        0
NEW_FLAG_nan_MEAN      0
dtype: int64

In [60]:
bb_agg.head()

   SK_ID_BUREAU_  MONTHS_BALANCE_MIN  ...  NEW_FLAG_1_MEAN  NEW_FLAG_nan_MEAN
0        5001709                 -96  ...              0.0                0.0
1        5001710                 -82  ...              0.0                0.0
2        5001711                  -3  ...              0.0                0.0
3        5001712                 -18  ...              0.0                0.0
4        5001713                 -21  ...              0.0                0.0

[5 rows x 16 columns]

In [61]:
bb_agg.to_csv("/content/drive/MyDrive/p7/data/bb_agg_final.csv", index=False)

## **bureau**

In [61]:
bu= pd.read_csv('/content/drive/MyDrive/p7/data/bureau.csv', sep=',', encoding='utf-8', low_memory=False)

In [63]:
bu.shape

(1716428, 17)

In [62]:
#from the EDA we saw some erroneous values in DAYS Fields, we will remove those
#there are some loans which ended about very long ago, around 100 years ago.
#Thus we will only keep those loans which have ended in past 50 years.
bu=bu.loc[bu['DAYS_CREDIT_ENDDATE'] > -50 *365] 

#there is also a feature which tells about the number of days ago the Credit Report Came
bu= bu.loc[bu['DAYS_CREDIT_UPDATE'] > -50 *365]

In [65]:
bu.shape

(1610646, 17)

**Feature engineering**

In [63]:
# Number of past loans per customer.*
grp = bu[['SK_ID_CURR', 'DAYS_CREDIT']].groupby(by = ['SK_ID_CURR'])['DAYS_CREDIT'].count().reset_index().rename(index=str, columns={'DAYS_CREDIT': 'NEW_BUREAU_LOAN_COUNT'})
bu = bu.merge(grp, on = ['SK_ID_CURR'], how = 'left')

# Number of types of past loans per customer.*
grp = bu[['SK_ID_CURR', 'CREDIT_TYPE']].groupby(by = ['SK_ID_CURR'])['CREDIT_TYPE'].nunique().reset_index().rename(index=str, columns={'CREDIT_TYPE': 'NEW_BUREAU_LOAN_TYPES'})
bu = bu.merge(grp, on = ['SK_ID_CURR'], how = 'left')

In [67]:
bu.head()

   SK_ID_CURR  SK_ID_BUREAU  ... NEW_BUREAU_LOAN_COUNT NEW_BUREAU_LOAN_TYPES
0      215354       5714462  ...                    10                     3
1      215354       5714463  ...                    10                     3
2      215354       5714464  ...                    10                     3
3      215354       5714466  ...                    10                     3
4      215354       5714467  ...                    10                     3

[5 rows x 19 columns]

In [64]:
 # Create a new dummy column for whether CREDIT is ACTIVE OR CLOED *
bu['CREDIT_ACTIVE_BINARY'] = bu['CREDIT_ACTIVE']

def f(x):
    if x == 'Closed':
        y = 0
    else:
        y = 1    
    return y

bu['CREDIT_ACTIVE_BINARY'] = bu.apply(lambda x: f(x.CREDIT_ACTIVE), axis = 1)

In [65]:
# Calculate mean number of loans that are ACTIVE per CUSTOMER *
grp = bu.groupby(by = ['SK_ID_CURR'])['CREDIT_ACTIVE_BINARY'].mean().reset_index().rename(index=str, columns={'CREDIT_ACTIVE_BINARY': 'NEW_ACTIVE_LOANS_PERCENTAGE'})
bu = bu.merge(grp, on = ['SK_ID_CURR'], how = 'left')
del bu['CREDIT_ACTIVE_BINARY']

In [70]:
bu.head()

   SK_ID_CURR  SK_ID_BUREAU  ... NEW_BUREAU_LOAN_TYPES NEW_ACTIVE_LOANS_PERCENTAGE
0      215354       5714462  ...                     3                         0.5
1      215354       5714463  ...                     3                         0.5
2      215354       5714464  ...                     3                         0.5
3      215354       5714466  ...                     3                         0.5
4      215354       5714467  ...                     3                         0.5

[5 rows x 20 columns]

In [78]:
bu.shape

(1610646, 20)

In [66]:
# Calculating Loan Activated and Closed Total Numbers and Rates
temp_bu = bu[['SK_ID_CURR', 'CREDIT_ACTIVE']]
temp_bu = pd.get_dummies(temp_bu)
temp_bu = temp_bu.groupby('SK_ID_CURR').agg({'CREDIT_ACTIVE_Active': 'sum', 'CREDIT_ACTIVE_Closed': 'sum'})

temp_bu.columns = ['CREDIT_ACTIVE_Active_Count', 'CREDIT_ACTIVE_Closed_Count']

temp_bu['CREDIT_ACTIVE_Active_ratio'] = temp_bu['CREDIT_ACTIVE_Active_Count'] / (
            temp_bu['CREDIT_ACTIVE_Active_Count'] + temp_bu['CREDIT_ACTIVE_Closed_Count'])
temp_bu['CREDIT_ACTIVE_Closed_ratio'] = temp_bu['CREDIT_ACTIVE_Closed_Count'] / (
            temp_bu['CREDIT_ACTIVE_Active_Count'] + temp_bu['CREDIT_ACTIVE_Closed_Count'])
bu = bu.merge(temp_bu, on=['SK_ID_CURR'], how='left')

In [67]:
# Is the loan closed early for Active and Closed Loans?*
bu.loc[(bu['CREDIT_ACTIVE'] == 'Active') & (bu['DAYS_CREDIT_ENDDATE'] < 0), 'NEW_EARLY_ACTİVE'] = 1
bu.loc[(bu['CREDIT_ACTIVE'] == 'Closed') & (
            abs(bu['DAYS_CREDIT_ENDDATE']) < abs(bu['DAYS_ENDDATE_FACT'])), 'NEW_EARLY_CLOSED'] = 1

In [68]:
# How many different types of loans has the person received?
temp_bu = bu[['SK_ID_CURR', 'CREDIT_TYPE']].groupby(by=['SK_ID_CURR'])[
                                                   'CREDIT_TYPE'].nunique().reset_index().rename(index=str, columns={'CREDIT_TYPE': 'BUREAU_LOAN_TYPES'})
bu = bu.merge(temp_bu, on=['SK_ID_CURR'], how='left')

# loan ratio
bu['NEW_DEPT_RATİO'] = bu['AMT_CREDIT_SUM_DEBT'] / (bu['AMT_CREDIT_SUM'] + 1)

In [69]:
bu.head()

   SK_ID_CURR  SK_ID_BUREAU  ... BUREAU_LOAN_TYPES NEW_DEPT_RATİO
0      215354       5714462  ...                 3       0.000000
1      215354       5714463  ...                 3       0.761517
2      215354       5714464  ...                 3            NaN
3      215354       5714466  ...                 3            NaN
4      215354       5714467  ...                 3       0.394539

[5 rows x 28 columns]

In [70]:
bu.shape

(1610646, 28)

In [85]:
bu['CREDIT_TYPE'].unique()

array(['Consumer credit', 'Credit card', 'Mortgage', 'Car loan',
       'Microloan', 'Loan for working capital replenishment',
       'Loan for business development', 'Real estate loan',
       'Unknown type of loan', 'Another type of loan',
       'Cash loan (non-earmarked)', 'Loan for the purchase of equipment',
       'Mobile operator loan', 'Interbank credit',
       'Loan for purchase of shares (margin lending)'], dtype=object)

In [71]:
# Replacing Credit Types with 'others'
credit_type = ['Loan for working capital replenishment',
                'Loan for business development', 'Real estate loan',
                'Unknown type of loan', 'Another type of loan',
                'Cash loan (non-earmarked)', 'Loan for the purchase of equipment',
                'Mobile operator loan', 'Interbank credit',
                'Loan for purchase of shares (margin lending)']
bu['CREDIT_TYPE'].replace(credit_type, 'others', inplace=True)

In [72]:
# Monthly Payout Rate
bu['NEW_AMT_ANNUITY_RATİO'] = bu['AMT_ANNUITY'] / bu['AMT_CREDIT_SUM']

# Is the credit update new?
bu['NEWS_DAYS_CREDIT_UPDATE'] = bu['DAYS_CREDIT_UPDATE'].apply(lambda x: 'old' if x < -90 else 'new')

In [73]:
# we  have dropped this variable
bu.drop('CREDIT_CURRENCY', inplace=True, axis=1)

In [74]:
del temp_bu
gc.collect()

219

In [75]:
# Categorical features with One-Hot encode

bu, bu_cat = one_hot_encoder(bu, nan_as_category=True)

In [76]:
bu_merge = bu.join(bb_agg, how='left', on='SK_ID_BUREAU')
bu_merge.drop(['SK_ID_BUREAU'], axis=1, inplace=True)

In [77]:
bu_merge.head()

   SK_ID_CURR  DAYS_CREDIT  ...  NEW_FLAG_1_MEAN  NEW_FLAG_nan_MEAN
0      215354         -497  ...              NaN                NaN
1      215354         -208  ...              NaN                NaN
2      215354         -203  ...              NaN                NaN
3      215354         -629  ...              NaN                NaN
4      215354         -273  ...              NaN                NaN

[5 rows x 56 columns]

In [92]:
bu_cat

['CREDIT_ACTIVE_Active',
 'CREDIT_ACTIVE_Bad debt',
 'CREDIT_ACTIVE_Closed',
 'CREDIT_ACTIVE_Sold',
 'CREDIT_ACTIVE_nan',
 'CREDIT_TYPE_Car loan',
 'CREDIT_TYPE_Consumer credit',
 'CREDIT_TYPE_Credit card',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_others',
 'CREDIT_TYPE_nan',
 'NEWS_DAYS_CREDIT_UPDATE_new',
 'NEWS_DAYS_CREDIT_UPDATE_old',
 'NEWS_DAYS_CREDIT_UPDATE_nan']

In [78]:
# Bureau and bureau_balance numeric features
num_aggregations = {
    'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
    'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
    'DAYS_CREDIT_UPDATE': ['mean'],
    'CREDIT_DAY_OVERDUE': ['max', 'mean'],
    'AMT_CREDIT_MAX_OVERDUE': ['mean'],
    'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
    'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
    'AMT_CREDIT_SUM_OVERDUE': ['mean'],
    'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
    'AMT_ANNUITY': ['max', 'mean'],
    'CNT_CREDIT_PROLONG': ['sum'],
    'MONTHS_BALANCE_MIN': ['min'],
    'MONTHS_BALANCE_MAX': ['max'],
    'MONTHS_BALANCE_SIZE': ['mean', 'sum'],
    "CREDIT_ACTIVE_Active_Count": ["mean"],
    "CREDIT_ACTIVE_Closed_Count": ["mean"],
    "CREDIT_ACTIVE_Active_ratio": ["mean"],
    "NEW_EARLY_ACTİVE": ['mean'],
    "NEW_EARLY_CLOSED": ['mean'],
    "NEW_BUREAU_LOAN_TYPES": ['mean'],
    "NEW_DEPT_RATİO": ['max', 'mean'],
    "NEW_AMT_ANNUITY_RATİO": ['max', 'mean']
}

for col in bb_cat:
    num_aggregations[col + "_MEAN"] = ['mean']

# Bureau and bureau_balance categorical features
cat_aggregations = {}
for cat in bu_cat: cat_aggregations[cat] = ['mean']
for cat in bb_cat: cat_aggregations[cat + "_MEAN"] = ['mean']

bu_agg = bu_merge.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
bu_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bu_agg.columns.tolist()])

In [80]:
bu_agg.head()

            BURO_DAYS_CREDIT_MIN  ...  BURO_NEWS_DAYS_CREDIT_UPDATE_nan_MEAN
SK_ID_CURR                        ...
100001                     -1572  ...                                    0.0
100002                     -1437  ...                                    0.0
100003                     -2586  ...                                    0.0
100004                     -1326  ...                                    0.0
100005                      -373  ...                                    0.0

[5 rows x 64 columns]

In [87]:
# Bureau: Active credits - using only numerical aggregations
active = bu_merge[bu_merge['CREDIT_ACTIVE_Active'] == 1]
active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations).reset_index()
active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()])
bu_agg_final = bu_agg.join(active_agg, how='left', on='SK_ID_CURR')

In [82]:
del active, active_agg
gc.collect()

489

In [88]:
 # Bureau: Closed credits - using only numerical aggregations
closed = bu_merge[bu_merge['CREDIT_ACTIVE_Closed'] == 1]
closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
bu_agg_final = bu_agg_final.join(closed_agg, how='left', on='SK_ID_CURR')

In [84]:
del closed, closed_agg, bureau, bb_agg
gc.collect()

NameError: ignored

In [110]:
bu_agg_final.to_csv("/content/drive/MyDrive/p7/data/bu_agg_final.csv", index=False)

### **previous_application.csv**

* application of client's previous loan in home credit
* Info about the previous loan parameters and client info at time of previous app
* one row per perivoius app

In [119]:
df_prev= pd.read_csv('/content/drive/MyDrive/p7/data/previous_application.csv', encoding='utf-8',low_memory=False)

In [120]:
df_prev.shape

(1670214, 37)

In [121]:
cat_cols = [col for col in df_prev.columns if df_prev[col].dtypes == 'O']
num_cols = [col for col in df_prev.columns if df_prev[col].dtypes != 'O']

In [122]:
 # days 365243 values to nan
df_prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace=True)
df_prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace=True)
df_prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace=True)
df_prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace=True)
df_prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace=True)

# XNA, XAP to nan for cat_cols.
na = ['XNA', 'XAP']
for col in cat_cols:
    for n in na:
        df_prev.loc[df_prev[col] == n, col] = np.nan

# delete columns columns that do not contain information or missing values over 80 percent of the entire data
del_cols = ['RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED', 'DAYS_FIRST_DRAWING',
            'NAME_CASH_LOAN_PURPOSE', 'CODE_REJECT_REASON', 'FLAG_LAST_APPL_PER_CONTRACT',
            'NFLAG_LAST_APPL_IN_DAY', 'SELLERPLACE_AREA']
df_prev.drop(del_cols, axis=1, inplace=True)

In [123]:
# Feature Engineering
# X-sell approved & Walk-in Approved
df_prev['NEW_X_SELL_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_PRODUCT_TYPE'] == 'x-sell') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_X_SELL_APPROVED'] = 1
df_prev['NEW_WALK_IN_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_PRODUCT_TYPE'] == 'walk-in') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_WALK_IN_APPROVED'] = 1

# Customer status approved
df_prev['NEW_REPEATER_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_CLIENT_TYPE'] == 'Repeater') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_REPEATER_APPROVED'] = 1
df_prev['NEW_NEWCUST_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_CLIENT_TYPE'] == 'New') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_NEWCUST_APPROVED'] = 1
df_prev['NEW_REFRESHED_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_CLIENT_TYPE'] == 'Refreshed') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_REFRESHED_APPROVED'] = 1

In [125]:
# Purpose of application approved
df_prev['NEW_CARDS_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_PORTFOLIO'] == 'Cards') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_CARDS_APPROVED'] = 1
df_prev['NEW_CASH_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_PORTFOLIO'] == 'Cash') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_CASH_APPROVED'] = 1
df_prev['NEW_POS_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_PORTFOLIO'] == 'POS') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_POS_APPROVED'] = 1

  # Interest approved
df_prev['NEW_HIGH_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_YIELD_GROUP'] == 'high') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_HIGH_APPROVED'] = 1
df_prev['NEW_MIDDLE_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_YIELD_GROUP'] == 'middle') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_MIDDLE_APPROVED'] = 1
df_prev['NEW_LOWACTION_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_YIELD_GROUP'] == 'low_action') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_LOWACTION_APPROVED'] = 1
df_prev['NEW_LOWNORMAL_APPROVED'] = 0
df_prev.loc[(df_prev['NAME_YIELD_GROUP'] == 'low_normal') &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_LOWNORMAL_APPROVED'] = 1

# Application hour convert to categorical
df_prev.loc[(df_prev['HOUR_APPR_PROCESS_START'] >= 0) &
            (df_prev['HOUR_APPR_PROCESS_START'] <= 6), 'NEW_APP_DAY_TIME'] = 'night'
df_prev.loc[(df_prev['HOUR_APPR_PROCESS_START'] > 6) &
            (df_prev['HOUR_APPR_PROCESS_START'] <= 12), 'NEW_APP_DAY_TIME'] = 'morning'
df_prev.loc[(df_prev['HOUR_APPR_PROCESS_START'] > 12) &
            (df_prev['HOUR_APPR_PROCESS_START'] <= 18), 'NEW_APP_DAY_TIME'] = 'afternoon'
df_prev.loc[(df_prev['HOUR_APPR_PROCESS_START'] > 18) &
            (df_prev['HOUR_APPR_PROCESS_START'] < 24), 'NEW_APP_DAY_TIME'] = 'evening'
df_prev.drop('HOUR_APPR_PROCESS_START', axis=1, inplace=True)

# Client apply with someone
df_prev.loc[df_prev['NAME_TYPE_SUITE'] == 'Unaccompanied', 'NEW_ACCOMPANIED'] = 0
df_prev.loc[df_prev['NAME_TYPE_SUITE'] != 'Unaccompanied', 'NEW_ACCOMPANIED'] = 1
df_prev.loc[df_prev['NAME_TYPE_SUITE'].isnull(), 'NEW_ACCOMPANIED'] = np.nan
df_prev.drop('NAME_TYPE_SUITE', axis=1, inplace=True)

    # credit requested / credit given ratio
df_prev['NEW_APP_CREDIT_RATIO'] = df_prev['AMT_APPLICATION'].div(df_prev['AMT_CREDIT']).replace(np.inf, 0)

# loan installment / credit amount ratio
df_prev['NEW_ANNUITY_CREDIT_RATIO'] = df_prev['AMT_ANNUITY'] / df_prev['AMT_CREDIT']

# credit amount / goods price ratio
df_prev['NEW_CREDIT_GOODS_RATIO'] = df_prev['AMT_CREDIT'].div(df_prev['AMT_GOODS_PRICE']).replace(np.inf, 0)

# interest amount
df_prev['NEW_AMT_INTEREST'] = df_prev['CNT_PAYMENT'] * df_prev['AMT_ANNUITY'] - df_prev['AMT_CREDIT']
# interest ratio
df_prev['NEW_INTEREST_RATIO'] = df_prev['NEW_AMT_INTEREST'] / df_prev['AMT_CREDIT']
# needed amount / credit amount (belki silinir)
df_prev['NEW_AMT_NEEDED_CREDIT_RATIO'] = (df_prev['AMT_GOODS_PRICE'] - df_prev['AMT_DOWN_PAYMENT']) / \
                                          df_prev['AMT_CREDIT']

# risk assessment via NEW_CREDIT_GOODS_RATIO
df_prev.loc[df_prev['NEW_CREDIT_GOODS_RATIO'] >= 0.80, 'NEW_CREDIT_GOODS_RISK'] = 1
df_prev.loc[df_prev['NEW_CREDIT_GOODS_RATIO'] < 0.80, 'NEW_CREDIT_GOODS_RISK'] = 0

# risk to approved
df_prev['NEW_RISK_APPROVED'] = 0
df_prev.loc[(df_prev['NEW_CREDIT_GOODS_RISK'] == 1) &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_RISK_APPROVED'] = 1

  # non risk to approved
df_prev['NEW_NONRISK_APPROVED'] = 0
df_prev.loc[(df_prev['NEW_CREDIT_GOODS_RISK'] == 0) &
            (df_prev['NAME_CONTRACT_STATUS'] == 'Approved'), 'NEW_NONRISK_APPROVED'] = 1

# Application weekdays cycle encoding
df_prev['WEEKDAY_APPR_PROCESS_START'] = df_prev['WEEKDAY_APPR_PROCESS_START'].map({
    'MONDAY': 1, 'TUESDAY': 2, 'WEDNESDAY': 3, 'THURSDAY': 4, 'FRIDAY': 5, 'SATURDAY': 6, 'SUNDAY': 7})
df_prev['NEW_WEEKDAY_SIN'] = np.sin(2 * np.pi * df_prev['WEEKDAY_APPR_PROCESS_START'] / 7)
df_prev['NEW_WEEKDAY_COS'] = np.cos(2 * np.pi * df_prev['WEEKDAY_APPR_PROCESS_START'] / 7)
df_prev.drop('WEEKDAY_APPR_PROCESS_START', axis=1, inplace=True)

In [127]:
# Rare encoding
a = ['Auto Accessories', 'Jewelry', 'Homewares', 'Medical Supplies', 'Vehicles', 'Sport and Leisure',
      'Gardening', 'Other', 'Office Appliances', 'Tourism', 'Medicine', 'Direct Sales', 'Fitness',
      'Additional Service', 'Education', 'Weapon', 'Insurance', 'House Construction', 'Animals']
df_prev["NAME_GOODS_CATEGORY"] = df_prev["NAME_GOODS_CATEGORY"].replace(a, 'others')

b = ['Channel of corporate sales', 'Car dealer']
df_prev["CHANNEL_TYPE"] = df_prev["CHANNEL_TYPE"].replace(b, 'Other_Channel')

c = ['Auto technology', 'Jewelry', 'MLM partners', 'Tourism']
df_prev["NAME_SELLER_INDUSTRY"] = df_prev["NAME_SELLER_INDUSTRY"].replace(c, 'Others')

d = ['Non-cash from your account', 'Cashless from the account of the employer']
df_prev["NAME_PAYMENT_TYPE"] = df_prev["NAME_SELLER_INDUSTRY"].replace(d, 'Others')

In [129]:
# One hot encoder
new_df_prev, new_cat_cols = one_hot_encoder(df_prev, nan_as_category= True)

In [130]:
# Getting to all the cat cols
origin_bin_cols = [col for col in df_prev.columns if (df_prev[col].dtypes != 'O') & (df_prev[col].nunique() == 2)]
all_cat_cols = new_cat_cols + origin_bin_cols

In [131]:
# Getting to the num cols
# x_cols = ['SK_ID_PREV','SK_ID_CURR', 'DAYS_FIRST_DUE','DAYS_LAST_DUE_1ST_VERSION','DAYS_LAST_DUE','DAYS_TERMINATION']
# new_num_cols = [col for col in new_df.columns if (col not in all_binary_cols) and (col not in x_cols)]
# num_aggregations = {}
# for num in new_num_cols:
# num_aggregations[num] = ['min', 'max', 'mean', 'median']

# Previous app num features
num_aggregations = {
    'AMT_ANNUITY': ['min', 'max', 'mean', 'median'],
    'AMT_APPLICATION': ['min', 'max', 'mean', 'median'],
    'AMT_CREDIT': ['min', 'max', 'mean', 'median'],
    'AMT_DOWN_PAYMENT': ['min', 'max', 'mean', 'median'],
    'AMT_GOODS_PRICE': ['min', 'max', 'mean', 'median'],
    'RATE_DOWN_PAYMENT': ['min', 'max', 'mean', 'median'],
    'DAYS_DECISION': ['min', 'max', 'mean', 'median'],
    'CNT_PAYMENT': ['min', 'max', 'mean', 'median'],
    'NEW_APP_CREDIT_RATIO': ['min', 'max', 'mean', 'median'],
    'NEW_ANNUITY_CREDIT_RATIO': ['min', 'max', 'mean', 'median'],
    'NEW_CREDIT_GOODS_RATIO': ['min', 'max', 'mean', 'median'],
    'NEW_AMT_INTEREST': ['min', 'max', 'mean', 'median'],
            'NEW_INTEREST_RATIO': ['min', 'max', 'mean', 'median'],
    'NEW_AMT_NEEDED_CREDIT_RATIO': ['min', 'max', 'mean', 'median'],
    'NEW_WEEKDAY_SIN': ['min', 'max', 'mean', 'median'],
    'NEW_WEEKDAY_COS': ['min', 'max', 'mean', 'median']}

# Previous app cat features
cat_aggregations = {}
for cat in all_cat_cols:
    cat_aggregations[cat] = ['mean']

final_prev_df = new_df_prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
final_prev_df.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in final_prev_df.columns.tolist()])

In [132]:
# Approved App - only num features
approved = new_df_prev[new_df_prev['NAME_CONTRACT_STATUS_Approved'] == 1]
approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
approved_agg.columns = pd.Index(
    ['PREV_APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
final_prev_df = final_prev_df.join(approved_agg, how='left', on='SK_ID_CURR')

In [133]:
# refused App - only numerical features
refused = new_df_prev[new_df_prev['NAME_CONTRACT_STATUS_Refused'] == 1]
refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
refused_agg.columns = pd.Index(['PREV_REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
final_prev_df = final_prev_df.join(refused_agg, how='left', on='SK_ID_CURR')

In [134]:
del refused, refused_agg, approved, approved_agg, new_df_prev
gc.collect()

1792

In [136]:
final_prev_df.head()

            PREV_AMT_ANNUITY_MIN  ...  PREV_REFUSED_NEW_WEEKDAY_COS_MEDIAN
SK_ID_CURR                        ...
100001                  3951.000  ...                                  NaN
100002                  9251.775  ...                                  NaN
100003                  6737.310  ...                                  NaN
100004                  5357.250  ...                                  NaN
100005                  4813.200  ...                                  NaN

[5 rows x 292 columns]

In [135]:
final_prev_df.to_csv("/content/drive/MyDrive/p7/data/final_prev_df.csv", index=False)

## **POS_CASH_balance.csv**

This table contains the Monthly Balance Snapshots of previous Point of Sales and Cash Loans that the applicant had with Home Credit Group.

In [137]:
pos = pd.read_csv('/content/drive/MyDrive/p7/data/POS_CASH_balance.csv',sep=',', encoding='utf-8', low_memory=False)

In [138]:
pos .head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0
3     1903291      269225  ...       0           0
4     2341044      334279  ...       0           0

[5 rows x 8 columns]

In [139]:
pos .shape

(10001358, 8)

In [140]:
pos .isnull().sum().sort_values(ascending= False).head(10)

CNT_INSTALMENT_FUTURE    26087
CNT_INSTALMENT           26071
SK_ID_PREV                   0
SK_ID_CURR                   0
MONTHS_BALANCE               0
NAME_CONTRACT_STATUS         0
SK_DPD                       0
SK_DPD_DEF                   0
dtype: int64

In [141]:
pos, cat_cols = one_hot_encoder(pos, nan_as_category=True)

In [142]:
# Features
aggregations = {
    'MONTHS_BALANCE': ['max', 'mean', 'size'],
    'SK_DPD': ['max', 'mean'],
    'SK_DPD_DEF': ['max', 'mean']
}
for cat in cat_cols:
    aggregations[cat] = ['mean']

pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])

In [143]:
# Count pos cash accounts
pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()

In [144]:
del pos
gc.collect()

342

In [145]:
pos_agg.head()

            POS_MONTHS_BALANCE_MAX  ...  POS_COUNT
SK_ID_CURR                          ...
100001                         -53  ...          9
100002                          -1  ...         19
100003                         -18  ...         28
100004                         -24  ...          4
100005                         -15  ...         11

[5 rows x 18 columns]

In [146]:
pos_agg.to_csv("/content/drive/MyDrive/p7/data/pos_agg_final.csv", index=False)

## **installments_payments.csv**

This table contains the details about each installment of client's previous credits with Home Credit Group.

In [147]:
ins = pd.read_csv('/content/drive/MyDrive/p7/data/installments_payments.csv',sep=',', encoding='utf-8', low_memory=False)

In [148]:
ins .shape

(13605401, 8)

In [149]:
ins .head()

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000
3     2452527      199697  ...       24350.130    24350.130
4     2714724      167756  ...        2165.040     2160.585

[5 rows x 8 columns]

In [150]:
ins .isnull().sum().sort_values(ascending= False).head(5)

DAYS_ENTRY_PAYMENT        2905
AMT_PAYMENT               2905
SK_ID_PREV                   0
SK_ID_CURR                   0
NUM_INSTALMENT_VERSION       0
dtype: int64

In [151]:
ins, cat_cols = one_hot_encoder(ins, nan_as_category=True)

In [152]:
# Percentage and difference paid in each installment (amount paid and installment value)
ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']

# Days past due and days before due (no negative values)
ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)

In [153]:
# Features: Perform aggregations
aggregations = {
    'NUM_INSTALMENT_VERSION': ['nunique'],
    'DPD': ['max', 'mean', 'sum'],
    'DBD': ['max', 'mean', 'sum'],
    'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
    'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
    'AMT_INSTALMENT': ['max', 'mean', 'sum'],
    'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
    'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']}

cat_cols = [col for col in ins.columns if ins[col].dtypes == "O"]
for cat in cat_cols:
    aggregations[cat] = ['mean']
ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])

In [154]:
# Count installments accounts
ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()

In [155]:
del ins
gc.collect()

345

In [156]:
ins_agg.head()

            INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE  ...  INSTAL_COUNT
SK_ID_CURR                                         ...
100001                                          2  ...             7
100002                                          2  ...            19
100003                                          2  ...            25
100004                                          2  ...             3
100005                                          2  ...             9

[5 rows x 26 columns]

In [157]:
ins_agg.to_csv("/content/drive/MyDrive/p7/data/ins_agg_final.csv", index=False)

## **credit_card_balance.csv**

This table consists of the monthly data related to any or multiple Credit Cards that the applicant had with the Home Credit Group. The table contains fields like balance, the credit limit, amount of drawings, etc. for each month of the credit card.

In [158]:
cc= pd.read_csv('/content/drive/MyDrive/p7/data/credit_card_balance.csv',sep=',', encoding='utf-8', low_memory=False)

In [159]:
cc.shape

(3840312, 23)

In [160]:
cc, cat_cols = one_hot_encoder(cc, nan_as_category=True)

In [161]:
# number of loans per customer
CCB = cc[0:]
grp = CCB.groupby(by = ['SK_ID_CURR'])['SK_ID_PREV'].nunique().reset_index().rename(index = str, columns = {'SK_ID_PREV': 'NO_LOANS'})
cc = CCB.merge(grp, on = ['SK_ID_CURR'], how = 'left')

# CNT_INSTALMENT_MATURE_CUM gives number of installments paid as of that month 
# The Max of this column shows the total number of installments made for that loan 

CCB = cc[0:]

# No of Loans per customer 

CCB = cc[0:]
grp = CCB.groupby(by = ['SK_ID_CURR'])['SK_ID_PREV'].nunique().reset_index().rename(index = str, columns = {'SK_ID_PREV': 'NO_LOANS'})
cc = CCB.merge(grp, on = ['SK_ID_CURR'], how = 'left')

In [162]:
del grp 
gc.collect()

131

In [163]:
    # No of Installments paid per Loan per Customer 

grp = CCB.groupby(by = ['SK_ID_CURR', 'SK_ID_PREV'])['CNT_INSTALMENT_MATURE_CUM'].max().reset_index().rename(index = str, columns = {'CNT_INSTALMENT_MATURE_CUM': 'NO_INSTALMENTS'})
grp1 = grp.groupby(by = ['SK_ID_CURR'])['NO_INSTALMENTS'].sum().reset_index().rename(index = str, columns = {'NO_INSTALMENTS': 'TOTAL_INSTALMENTS'})
cc = CCB.merge(grp1, on = ['SK_ID_CURR'], how = 'left')
del grp, grp1
gc.collect()

0

In [164]:
# Average Number of installments paid per loan 

cc['NEW_INSTALLMENTS_PER_LOAN'] = (cc['TOTAL_INSTALMENTS']/cc['NO_LOANS']).astype('uint32')
del cc['TOTAL_INSTALMENTS']
del cc['NO_LOANS']

# General aggregations
cc.drop(['SK_ID_PREV'], axis=1, inplace=True)
cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])

# Count credit card lines
cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()

del cc
gc.collect()

0

In [165]:
cc_agg.head()

            CC_MONTHS_BALANCE_MIN  ...  CC_COUNT
SK_ID_CURR                         ...
100006                         -6  ...         6
100011                        -75  ...        74
100013                        -96  ...        96
100021                        -18  ...        17
100023                        -11  ...         8

[5 rows x 146 columns]

In [166]:
cc_agg.to_csv("/content/drive/MyDrive/p7/data/cc_agg_final.csv", index=False)

## **Merging All Tables**


Now we will merge all the preprocessed tables with the application_train and application_test tables. The merges will be Left Outer Joins, such that all the current applications are preserved, as we have to model on them.

In [94]:
df_train_final= pd.read_csv('/content/drive/MyDrive/p7/data/df_train_final.csv')
bu_agg_final= pd.read_csv('/content/drive/MyDrive/p7/data/bu_agg_final.csv')

final_prev_df= pd.read_csv('/content/drive/MyDrive/p7/data/final_prev_df.csv')
pos_agg_final= pd.read_csv('/content/drive/MyDrive/p7/data/pos_agg_final.csv')
ins_agg_final= pd.read_csv('/content/drive/MyDrive/p7/data/ins_agg_final.csv')
cc_agg_final= pd.read_csv('/content/drive/MyDrive/p7/data/cc_agg_final.csv')

In [97]:
# Merging data
data = df_train_final.join(bu_agg_final, how='left', on='SK_ID_CURR')
del df_train_final, bu_agg_final

data = data.join(final_prev_df, how='left', on='SK_ID_CURR')
del final_prev_df

data = data.join(pos_agg_final, how='left', on='SK_ID_CURR')
del pos_agg_final

data = data.join(ins_agg_final, how='left', on='SK_ID_CURR')
del ins_agg_final

data = data.join(cc_agg_final, how='left', on='SK_ID_CURR')
del cc_agg_final

In [98]:
data.shape

(356249, 896)

In [99]:
data.to_csv("/content/drive/MyDrive/p7/data/NEW_data.csv", index=False)